@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {display: block;}

/* End Reset */

/* Utility classes */
.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

/* End Utility Classes*/

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  /* background-image: url('../img/bubbles.png'), linear-gradient(to left,steelblue, rgb(190, 118, 190), white);
  background-repeat: repeat-y, no-repeat;
  background-position: right center;
  background-size: 25%, auto; */
  
  background: repeat-y right center url('../img/bubbles.png'), no-repeat center linear-gradient(to left,steelblue, rgb(190, 118, 190), white);
  background-size: 25%, auto;

}

.container {
  background-color: rgb(251, 210, 156);
  background-image: url('../img/map-2176x1451.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.hero {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: hsl(0, 0%, 100%, 0.303);
}

.h1 {
  font-size: 400%;
  color: aliceblue;
  text-shadow: 2px 2px 5px #000;
  /* background-color: hsl(0, 0%, 0%, 30%);
  padding: 0.25rem;
  border-radius: 10px; */
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 3px solid black;
  border-radius: 50%;
}



.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
}

.clip {
  text-align: start;
  letter-spacing: -100px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 800;
  font-size: 18rem;
  text-align: center;
  background-image: url('../img/scenic-2200x1331.png');
  background-size: 100%;
  background-size: cover;
  text-transform: uppercase;
  -webkit-background-clip: text; /* this is for browsers that doesn't support background-clip without webkit*/
  background-clip: text; /*this doesn't make any change for Chrome but adds Firefox support*/
  color: hsl(0, 0%, 0%, 0.2);
  /*color: transparent;*/
}


